/* ShoppingListDetail Styles */
.list-details {
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #fff;
  }
  
  .list-item {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 3px;
  }
  
  .item-name {
    font-weight: bold;
  }
  
  .item-quantity {
    margin-left: 10px;
  }